.title_blog{
    font-weight: 500;
    font-size: 1.2em;
}

li{
    margin: 10px 0;
}

.ombre_cadre{
    margin: 40px auto;
}

.humanPoints{
    display: block;
    width: 100%;
    max-width: 850px;
    margin: auto;
    margin-bottom: 40px;
    color: white;
}
.humanPoints div{
    width: 100%;
    padding: 10px;
    display: block;
    background: #121C47;
}
.humanPoints div > .title_blog{
    text-align: center;
    color: white;
}

.blog_img{
    display: block;
    width: 80%;
    margin: 20px auto;
}

/*Indications page*/
.blueImgDiv{
    width: 100%;
    background: white;
    height: 70px;
    margin-bottom: 20px;
}.blueImgDiv img{
    position: relative;
    display: block;
    height: 100%;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
}
@media (min-width: 1050px){
    .blueImgDiv img{
        position: relative;
        display: block;
        height: 100%;
        width: auto;
        left: 100%;
        transform: translateX(-50%);
    }
}

.carousel{
    width: 100%;
    max-width: 650px;
    margin: 40px auto;
    height: auto;
    max-height: 350px;
    transition: 0.2s ease-in-out;
}

.carousel-item{
    background: black;
    border-radius: 10px;
    height: 280px;
}
.carousel-item img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .4;
    border-radius: 10px;
}.carousel-item p{
    display: block;
    width: 100%;
    padding: 10%;
    position: absolute;
    top:0;
    color: white;
}

@media (min-width: 500px){
    .carousel{
        width: 100%;
        max-width: 650px;
        margin: 40px auto;
        height: auto;
        max-height: 350px;
        overflow: hidden;
        transition: 0.2s ease-in-out;
    }
    
    .carousel-item{
        background: black;
        border-radius: 10px;
    }
    .carousel-item img{
        display: block;
        width: 100%;
        opacity: .4;
        border-radius: 10px;
    }.carousel-item p{
        display: block;
        width: 100%;
        padding: 10%;
        font-size: 1.2em;
        position: absolute;
        top:0;
        color: white;
    }
}

.rdv_indiBtn{
    display: block;
    background: #121C47;
    margin: 0;
}
.rdv_indiBtn a{color: #F5E5FF; font-weight: 500;}
/**********/

@media (min-width:1050px){
    .humanPoints{
        display: flex;
    }
    .humanPoints div{
        width: 50%;
    }
}

.innerShSection{
    padding: 15px;
    width: 100%;

    box-shadow: inset 0px 5px 10px 0px rgba(97, 0, 86, 0.5);
    border-radius: 5px;

}.innerShSection .title_blog{
    font-size: 1em;
}

/*Info page*/

.title_info{font-size: 2em; text-align: center;}

.rdv_infoBtn{
    display: block;
    background: #F5E5FF;
    margin: 20px 0;
}.rdv_infoBtn a{color: #121C47; font-weight: 500;}

.infoImgDeroulDiv{
    width: 100%;
    display: block;
}
.infoImgDeroulDiv > div{
    position: relative;
    width: 100%;
    height: 300px;
    display: block;
    background: black;
    margin: 40px auto;
}
.infoImgDeroulDiv > div img{
    width: 100%;
    height: 100%;
    opacity: .4;
    object-fit: cover;
}
.infoImgDeroulDiv > div .textContain{
    width: 100%;
    display: block;
    position: absolute;
    top:0;
    color: white;
    padding: 15px;
}.textContain li, .textContain p{color: white; font-weight: 500; font-size: .8em;}

@media (min-width: 1050px){
    .infoImgDeroulDiv{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }  
    
    .infoImgDeroulDiv > div{
        position: relative;
        width: 45%;
        height: 350px;
        display: block;
        background: black;
        margin: 40px auto;
    }

    .textContain li{margin-left:10px;}

    .textContain li, .textContain p{color: white; font-weight: 500; font-size: 1em;}
}

/**********/