/*Fonts*/
/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
/********/
/********/
html, body{
    scroll-behavior: smooth;
}

body{margin: 0;}

a{text-decoration: none;}

p, a{line-height: 1.5em;}

p, a, input{font-family: 'Roboto'; font-weight: 300;}