
.page_title, .sectionTitle{
    display: block;
    text-align: center;
    margin: 40px auto;
    font-size: 1.5em;
    font-weight: lighter;
}

.info_intro{
    display: block;
    width: 80%;
    max-width: 750px;
    margin: 0 auto;
}

.tarifs{
    display: block;
    width: 80%;
    max-width: 750px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    margin: 40px auto;
}

.cabinet, .visio{
    position: relative;
    width: 95%;
    max-width: 560px;
    background: black;
    margin: 20px auto;
}
.cabinet img, .visio img{
    display: block;
    width: 100%;
    object-fit: cover;
    opacity: .3;
}

.cabinet h5{
    display: block;
    position: absolute;
    color: white;
    top: 5%;
    left: 5%;
}.cabinet ul{
    display: block;
    color: white;
    position: absolute;
    top: 15%;
}

.visio h5{
    display: block;
    position: absolute;
    color: white;
    top: 5%;
    left: 5%;
}.visio strong{
    display: block;
    color: red;
    position: absolute;
    top: 25%;
    left: 5%;
}.visio p{
    position: absolute;
    top:15%;
    left: 5%;
    color: white;
}

.visio ul{
    display: block;
    color: white;
    position: absolute;
    top: 35%;
}

@media (min-width: 950px){
    .visio ul, .visio p, .cabinet ul{
        font-size: 1.2em;
    }
}

.infos_sup{
    display: block;
    width: 80%;
    max-width: 750px;
    margin: 40px auto;
}