/*Very-large-desktop*/
@media (min-width:1200px) {

    /*About part*/
    /*About part*/
    .about-content{
        display: flex;
        padding: 15px;
        margin:80px auto;
        border: none;
        background: #3dd2cc;
        border-radius: 3%;
        
        transition: 0.2s ease-in-out;
    }.about-content img{
        border-radius: 3%;
        margin: 10px;
    }.about-content p{
        color: white;
        margin: 30px;
    }

}